[Desktop Entry]

Type=Application
Version=1.0
Name=Rosbag Player
Exec=bash PATH/launch.sh %f
Icon=rosbag_player
MimeType=application/octet-stream;
Terminal=false